body {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 1.5;
}
html,
body {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
	line-height: 1.2;
	margin-bottom: 3%;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

hr {
	background-color: #f6f6f6;
	border: 0;
	height: 2px;
	margin: 5% 0;
}

a {
	color:#999;
	text-decoration:none;
	-webkit-transition:.07s ease-in;
	-o-transition:.07s ease-in;
	transition:.07s ease-in;
}

a:hover,
a:focus,
a:active {
	color:#404040;
	-webkit-transition:.07s ease-in;
	-o-transition:.07s ease-in;
	transition:.07s ease-in;
}
/*ul*/
.menu-nav {
    list-style: none;
    margin: 0 0 2% 0;
    padding-left: 0;
}
/*ul li*/
.menu-nav__item {
    
}
/*ul li a */
.menu-nav__link { 
    display: block;
    padding: 2% 0;
    color: #404040;
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    text-decoration: none;
}

/* brgin */
.flex-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
}

/* header */
.flex-container__line {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	 -webkit-box-flex: 1;
	 -ms-flex: 1 0 auto;
	 flex: 1 0 auto;
}
.flex-container__header {
	background: #f5f5f5;
}
.flex-header {
	padding: 0 2rem;
	&__title {
		padding-top: 2rem;
		text-transform: uppercase;
	}
	&__info {
		color: #bcbcbc;
	}
	&__nav {
	margin-top: 2rem;
	*{
		font-size: 1.3rem;
		color: #848484;
		margin-top: 1rem;
	}
	}
}

/* content */
.flex-container__content {
	 -webkit-box-flex: 1;
	 -ms-flex: 1 0 auto;
	 flex: 1 0 auto;
}
.flex-content {
	margin-left: 3rem;
	& > * {
		margin-top: 2rem;
	}
	&__date {
		text-transform: uppercase;
		color: #bcbcbc;
	}
	&__title {
		font-size: 4rem;
	}
	&__footer {
		width: calc(100% - 2rem);
		height: 1rem;
	}
}
.content-nav {
	float: left;
	&__el {
		width: 15rem;
		padding: .7rem 1rem;
		list-style: none;
		border-bottom: 1px solid #bcbcbc;
		.fas {
			padding-right: .6rem;
		}
	}
	&__el:first-child {
		border-top: 1px solid #bcbcbc;
	}
}
.boat ,.flex-content__other{
	li {
		margin-left: 2rem;
	}
	padding: 3rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: start;
	&__img {
		width: 80%;
	}
	&__logo-center {
		font-size: 1.3rem;
		color: #bcbcbc;
		width: 90%;
		text-align: center;
	}
	&__logo {
		font-size: 1.3rem;
		color: #848484;
	}
}
/* footer */
.flex-container__footer{
	 -webkit-box-flex: 0;
	 -ms-flex: 0 0 auto;
	 flex: 0 0 auto;
	 &_el {
	 	font-size: 2rem;
	 }

}